<div id="app" class="app">
  <%= render 'partials/header' %>
  <div class="container">
    <pr-feed
      :pull-requests="<%= @serialized_pull_requests.to_json %> | camelizeKeys"
      :likes-given="<%= @likes_given.to_json %> | camelizeKeys"
      :organization_name="<%= @organization_name %> | camelizeKeys" >
    </pr-feed>
  </div>
  <%= render "partials/footer" %>
</div>
