<div id="app" class="app">
  <%= render 'partials/header' %>
  <div class="container">
    <div class="card-pr__background">
      <div class="card-pr-title">
        Feed
      </div>
      <form action="/organizations/<%= @organization_name %>/pull_requests">
        <label for="project_name">Proyecto:</label>
        <input type="text" id="project_name" name="project_name">
        <input type="submit" value="Submit">
      </form>
      <form action="/organizations/<%= @organization_name %>/pull_requests">
        <label for="owner_name">Autor :</label>
        <input type="text" id="owner_name" name="owner_name">
        <input type="submit" value="Submit">
      </form>
      <pr-feed
        :pull-requests="<%= @serialized_pull_requests.to_json %> | camelizeKeys"
        :likes-given="<%= @likes_given.to_json %> | camelizeKeys"
        organization-name="<%= @organization_name %>" >
      </pr-feed>
      <div class="card-pr__pagination">
        <%= paginate @pull_requests %>
      </div>
    </div>
  </div>
  <%= render "partials/footer" %>
</div>
