<div class="card profile">
  <profile-card
    :github-user="<%= @github_user.to_json%> | camelizeKeys"
    :github-session="<%= @github_session.to_json%> | camelizeKeys"
    :teams="<%= @teams.to_json %> | camelizeKeys"
    :timespans="<%= timespans_options_with_name.to_json %> | camelizeKeys"
    :tags="<%= @tags.to_json%>"
    :user-tags="<%=@user_tags.to_json%>"
  />
</div>