<div class="card profile">
  <div class="profile__section">
    <div class="profile-header">
      <div>
        <div class="profile-info">
          <%= image_tag @github_user.avatar_url, class: 'profile-info__picture' %>
          <div class="profile-info__info">
            <div class="profile-info__name">
              <%= @github_user.name || t('messages.profile.no_name') %>
            </div>
            <%= link_to @github_user.html_url, class: 'profile-info__username' do %>
              <%= octicon "octoface" %>
              <span>@<%= @github_user.login %></span>
            <% end %>
          </div>
        </div>
        <profile-description
          :github-user="<%= @github_user.to_json%>"
          :github-session="<%= @github_session.to_json%>"
        />
        <div class="profile-teams">
          <div class="profile-teams__hint">
            <%= t('messages.profile.teams_dropdown_hint') %>
          </div>
          <profile-dropdowns
            github-login="<%= @github_user.login %>"
            :organizations="<%= @organizations.to_json %>"
            :teams="<%= @teams.to_json %>"
            :months-options="<%= timespans_with_name.to_json %>"
          />
        </div>
      </div>
    </div>
  <div class="profile__section">
    <profile-recommendations />
  </div>
  <div class="profile__section">
    <profile-statistics github-login="<%= @github_user.login %>" />
  </div>
  <div class="profile__section">
    <profile-metrics />
  </div>
</div>
