<div class="card">
  <div class="profile__section">
    <div class="profile-header">
      <div class="profile-info">
        <%= image_tag @github_user.avatar_url, class: 'profile-info__picture' %>
        <div class="profile-info__info">
          <div class="profile-info__name">
            <%= @github_user.name || t('messages.profile.no_name') %>
          </div>
          <%= link_to @github_user.html_url, class: 'profile-info__username' do %>
            <%= octicon "octoface" %>
            <span>@<%= @github_user.login %></span>
          <% end %>
        </div>
      </div>
      <div class="profile-teams">
        <div class="profile-teams__hint">
          <%= t('messages.profile.teams_dropdown_hint') %>
        </div>
        <teams-dropdown
          github-login="<%= @github_user.login %>"
          :teams="<%= @teams.to_json %>">
        </teams-dropdown>
      </div>
    </div>
    <div class="profile__column profile__title">
      <% if @teams.empty? %>
        <%= t('messages.profile.no_recommendations') %>
      <% end %>
      <review-recommendations>
      </review-recommendations>
    </div>
  </div>
  <div class="profile__section profile__content">
    <profile-statistics-rectangle
      github-login="<%= @github_user.login %>">
    </profile-statistics-rectangle>
  </div>
</div>
