<div class="card">
  <div class="profile__section profile__header">
    <div class="profile__column">
      <div class="profile__picture">
        <img src="<%= @github_user.avatar_url %>" />
      </div>
      <div class="profile__info">
        <div class="profile__name">
          <%= @github_user.name || t('messages.profile.no_name') %>
        </div>
        <div class="profile__github-info">
          <a href="<%= @github_user.html_url %>">
            <div class="profile__link">
              <div class="profile__link-icon">
                <%= octicon "octoface" %>
              </div>
              <div>
                @<%= @github_user.login %>
              </div>
            </div>
          </a>
          <organizations-dropdown
            github-login="<%= @github_user.login %>"
            :organizations="<%= @organizations.to_json %>">
          </organizations-dropdown>
        </div>
      </div>
    </div>
    <div class="profile__column profile__title">
      <% if @teams.empty? %>
        <%= t('messages.profile.no_recommendations') %>
      <% end %>
      <review-recommendations>
      </review-recommendations>
    </div>
  </div>
  <div class="profile__section profile__content">
    <profile-statistics-rectangle
      github-login="<%= @github_user.login %>">
    </profile-statistics-rectangle>
  </div>
</div>
