<div class="card profile">
  <div class="profile__section">
    <div class="profile-header">
      <div class="profile-info">
        <%= image_tag @github_user.avatar_url, class: 'profile-info__picture' %>
        <div class="profile-info__info">
          <div class="profile-info__name">
            <%= @github_user.name || t('messages.profile.no_name') %>
          </div>
          <%= link_to @github_user.html_url, class: 'profile-info__username' do %>
            <%= octicon "octoface" %>
            <span>@<%= @github_user.login %></span>
          <% end %>
        </div>
      </div>
      <div class="profile-teams">
        <div class="profile-teams__hint">
          <%= t('messages.profile.teams_dropdown_hint') %>
        </div>
        <organizations-dropdown
          github-login="<%= @github_user.login %>"
          :organizations="<%= @organizations.to_json %>"
          :teams="<%= @teams.to_json %>">
        </organizations-dropdown>
        <timespan-dropdown
          github-login="<%= @github_user.login %>"
          :months-options="<%= ([1, 3, 6, 9, 12].map { |months| { name: t('messages.dashboard.month', count: months), limit: months } }.to_json) %>"
        />
      </div>
    </div>
  </div>
  <div class="profile__section">
    <% if @teams.empty? %>
      <%= t('messages.profile.no_recommendations') %>
    <% end %>
    <profile-recommendations />
  </div>
  <div class="profile__section">
    <profile-statistics github-login="<%= @github_user.login %>" />
  </div>
</div>
