<header class="header">
  <% unless @github_session.nil? %>

    <v-select class="orgs-selector header__selector" :options="<%= @github_session.organizations.to_json %>" label="login" :value="<%= @github_organization.to_json %>"
              :on-change="changeOrganization">
      <template slot="option" slot-scope="option">
        <div class="orgs-selector__option">
          <img class="orgs-selector__image" :src="option.avatar_url"/>
          {{ option.login }}
        </div>
      </template>
    </v-select>

  <% end %>
  <%= link_to root_path, class: 'header__logo-container' do %>
    <%= image_tag 'froggo-logo.svg', class: 'header__logo' %>
  <% end %>
  <% unless @github_session.nil? %>
    <dropdown class="user-menu">
      <template slot="btn"><img class="user-menu__image" src="<%= @github_session.avatar_url %>"/></template>
      <template slot="icon"><i class="user-menu__arrow-down"></i></template>
      <template slot="body">
        <div class="user-menu__body">
          <div class="user-menu__option">
            <%= link_to t('messages.header.close_session'), close_session_path, class: 'user-menu__option-link' %>
          </div>
        </div>
      </template>
    </dropdown>
  <% end %>
</header>
