<header class="header">
  <div class="container header__container">
    <%= link_to root_path, class: 'header__logo-container' do %>
      <%= image_tag 'froggo-logo.svg', class: 'header__logo' %>
    <% end %>
    <% unless @github_user.nil? %>
      <%= link_to t('messages.header.pull_requests'), organization_pull_requests_path(organization_name: @github_session.organizations.first[:login]), class: 'header__teams-button-container'%>
      <%= link_to t('messages.header.teams'), github_user_froggo_teams_path(github_user_id: @github_session.user.id), class: 'header__teams-button-container'%>
      <div class="header__menu-container">
        <dropdown class="user-menu header__user-menu">
          <img class="user-menu__image" slot="btn" src="<%= @github_session.user.avatar_url %>"/>
          <div class="user-menu__body" slot="body">
            <%= link_to t('messages.header.organizations'), organization_path(name: @github_session.organizations.first[:login]), class: 'user-menu__option'%>
            <% if @github_session.user.id === @github_user.id %>
              <%= link_to t('messages.profile.give_permissions'),
                  org_authenticate_path,
                  class: 'user-menu__option'%>
            <% end %>
            <%= link_to t('messages.header.close_session'), close_session_path, class: 'user-menu__option'%>
          </div>
        </dropdown>
      </div>
    <% end %>
  </div>
</header>
