<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'partials/tag_manager_head' %>
    <title>Froggo - Platanus</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'partials/tag_manager' %>
    <div class="landing">
      <div class="c-presentation">
        <img class="c-presentation__logo" src="<%= image_path('froggo-logo.svg')%>"/>
        <h1 class="c-presentation__title"><%= t('messages.home.title') %></h1>
        <h3 class="c-presentation__sub-title"><%= t('messages.home.subtitle') %></h3>
        <div class="c-presentation__github-login">
          <a class="c-github-login" href="<%= @request_login_url %>">
            <span class="c-github-login__logo-container">
              <img class="c-github-login__logo" src="<%= image_path('github-mark.png') %>"/>
            </span>
            <div class="c-github-login__text">
              <%= t('messages.home.connect_github').upcase %>
            </div>
          </a>
        </div>
      </div>
      <div class="dashboard-content">
        <div class="c-home-dashboard normal">
          <div class="dashboard-column dashboard-text-box__left">
            <h1 class="home-dashboard-title"><%= t('messages.home.pr_recommendation_title') %></h1>
            <h1 class="home-dashboard-text"><%= t('messages.home.pr_recommendation_description') %></h1>
          </div>
          <div class="dashboard-column">
            <img class="home-dashboard-image" src="<%= image_path('recommendations.gif') %>"/>
          </div>
        </div>
        <hr>
        <div class="c-home-dashboard reversed">
          <div class="dashboard-column">
            <img class="home-dashboard-image" src="<%= image_path('dashboard-preview.png') %>"/>
          </div>
          <div class="dashboard-column dashboard-text-box__right">
            <h1 class="home-dashboard-title"><%= t('messages.home.dashboard_title') %></h1>
            <h1 class="home-dashboard-text"><%= t('messages.home.dashboard_description') %></h1>
          </div>
        </div>
        <hr>
        <div class="c-home-dashboard normal">
          <div class="dashboard-column dashboard-text-box__left">
            <h1 class="home-dashboard-title"><%= t('messages.home.metrics_title') %></h1>
            <h1 class="home-dashboard-text"><%= t('messages.home.metrics_description') %></h1>
          </div>
          <div class="dashboard-column">
            <img class="home-dashboard-image" src="<%= image_path('froggo-metrics.png') %>"/>
          </div>
        </div>
        <hr>
        <div class="c-home-note-right">
          <div class="dashboard-text-box__right">
            <h1 class="home-dashboard-note"><%= t('messages.home.easy_config_title') %></h1>
            <h1 class="home-dashboard-note-text"><%= t('messages.home.easy_config_description') %></h1>
          </div>
          <img class="home-dashboard-icon" src="<%= image_path('easy-config.png') %>"/>
        </div>
        <div class="c-home-note">
          <img class="home-dashboard-icon" src="<%= image_path('no-shamming.png') %>"/>
          <div class="dashboard-text-box__left">
            <h1 class="home-dashboard-note"><%= t('messages.home.no_shamming_title') %></h1>
            <h1 class="home-dashboard-note-text"><%= t('messages.home.no_shamming_description') %></h1>
          </div>
        </div>
        <div class="c-home-note-right">
          <div class="dashboard-text-box__right">
            <h1 class="home-dashboard-note"><%= t('messages.home.security_matters_title') %></h1>
            <h1 class="home-dashboard-note-text"><%= t('messages.home.security_matters_description') %></h1>
          </div>
          <img class="home-dashboard-icon" src="<%= image_path('secure.png') %>"/>
        </div>
      </div>
      <%= render "partials/footer" %>
    </div>
  </body>
</html>
