<div class="landing">
  <div class="c-presentation">
    <img class="c-presentation__logo" src="<%= image_path('froggo-logo.svg')%>"/>
    <h1 class="c-presentation__title"><%= t('messages.home.title') %></h1>
    <h3 class="c-presentation__sub-title"><%= t('messages.home.subtitle') %></h3>
    <div class="c-presentation__github-login">
      <a class="c-github-login" href="<%= @login_button_url %>">
        <span class="c-github-login__logo-container">
          <img class="c-github-login__logo" src="<%= image_path('github-mark.png') %>"/>
        </span>
        <div class="c-github-login__text">
          <% if @user_logged_in %>
            <%= t('messages.home.go_to_dashboard').upcase %>
          <% else %>
            <%= t('messages.home.connect_github').upcase %>
          <% end %>
        </div>
      </a>
    </div>
  </div>
  <div class="c-home-dashboard">
    <h1 class="c-home-dashboard__title"><%= t('messages.home.dashboard_title') %></h1>
    <img class="c-home-dashboard__image" src="<%= image_path('dashboard-preview.png') %>"/>
  </div>
  <div class="c-home-footer">
    <img class="c-home-footer__logo" src="<%= image_path 'platanus.svg' %>" />
    <a class="c-home-footer__text" href="https://platan.us/">platan.us</a>
  </div>
</div>
