<div class="card-extended">
  <div class="card-extended__header">
    <div class="card-extended__back" onclick="window.location.href='<%= organization_path(name: @github_organization[:login]) %>'">
      <%= image_tag("back-arrow.svg", class: "card-extended__back-arrow") %>
      <div class="card-extended__back-message">
        <%= t('messages.settings.button_back') %>
      </div>
    </div>
    <div class="card-extended__user">
      User
    </div>
  </div>
  <div class="card-extended__body">
    <h2 class="card__title"><%= t('messages.settings.login_with_admin_session_ask') %></h2>
    <p class="card__info"><%= t('messages.settings.login_with_admin_session_message_ask') %></p>
    <%= link_to t('messages.settings.create_dashboard'),
        admin_authenticate_path(gh_org: @github_organization[:login]),
        class: "card__button card__button-text"%>
  </div>
</div>