<div class="<%= "card-extended #{'card-extended--fullscreen' if @public_mode}" %>">
  <% if !@public_mode %>
    <%= render "card_header", only_organization: false %>
  <% end %>
  <div class="card-extended__body">
    <% if @corrmat.selected_users.empty? %>
      <%= t('messages.dashboard.empty_team', team:  @team[:name]) %>
    <% else %>
      <div class="matrix-dashboard">
        <div>
          <div class="matrix__user--head" id="sticky-corner"></div>
          <% @corrmat.selected_users.each_with_index do |user, i| %>
            <div class="matrix__user">
              <a href="<%= user.html_url %>" title="<%= user.login %>">
                <% if i == @corrmat.min_ranking_indexes[0]%>
                  <div class="matrix__user-div">
                    <div class="matrix__user-div">
                      <img class="matrix__user-img" src="<%= user.avatar_url %>">
                    </div>
                    <img class="matrix__user-crown" src="<%= image_path 'dashboard-img-crown.svg' %>">
                  </div>
                <% else %>
                  <img class="<%= if i == @corrmat.min_ranking_indexes[1]
                              'matrix__user-img--second'
                              elsif i == @corrmat.min_ranking_indexes[2]
                              'matrix__user-img--third'
                              else
                              'matrix__user-img'
                              end %>" src="<%= user.avatar_url %>">
                <% end %>
              </a>
            </div>
          <% end %>
        </div>
        <div class="matrix__values">
          <div class="matrix__head" id="sticky-head">
            <% @corrmat.selected_users.each_with_index do |user, i| %>
              <div class="matrix__user--head">
                <div class="matrix__picture">
                  <a href="<%= user.html_url %>" title="<%= user.login %>">
                    <% if i == @corrmat.min_ranking_indexes[0]%>
                      <div class="matrix__user-div">
                        <div class="matrix__user-div">
                          <img class="matrix__user-img" src="<%= user.avatar_url %>">
                        </div>
                        <img class="matrix__user-crown" src="<%= image_path 'dashboard-img-crown.svg' %>">
                      </div>
                    <% else %>
                      <img class="<%= if i == @corrmat.min_ranking_indexes[1]
                                  'matrix__user-img--second'
                                  elsif i == @corrmat.min_ranking_indexes[2]
                                  'matrix__user-img--third'
                                  else
                                  'matrix__user-img'
                                  end %>" src="<%= user.avatar_url %>">
                    <% end %>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
          <% @corrmat.selected_users.each_with_index do |b, i| %>
            <div class="matrix__row">
              <% @corrmat.selected_users.each_with_index do |a, j| %>
                <div class="matrix__pullrequest">
                  <span class="matrix__pullrequest__number<%= if i == j then
                                                          '-diagonal'
                                                          elsif @corrmat.data[[i, j]] == 0 then
                                                            '-0'
                                                          end %>">
                      <%= @corrmat.data[[i, j]] %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
