<table class="matrix-dashboard">
  <thead class="matrix__head">
  <th class="matrix__user"></th>
  <% @corrmat.tracked_users.each do |user| %>
    <th class="matrix__user">
      <div class="matrix__picture">
        <a href="<%= user.html_url %>" title="<%= user.login %>">
          <img class="matrix__user-img" src="<%= user.avatar_url %>">
        </a>
      </div>
    </th>
  <% end %>
  </thead>
  <tbody>
  <% @corrmat.tracked_users.each_with_index do |b, i| %>
    <tr>
      <td>
        <a href="<%= b.html_url %>" title="<%= b.login %>">
          <img class="matrix__user-img" src="<%= b.avatar_url %>">
        </a>
      </td>
      <% @corrmat.tracked_users.each_with_index do |a, j|%>
        <td class="matrix__pullrequest">
                      <span class="matrix__pullrequest__number<%= if i==j then '-diagonal' elsif @corrmat.data[[i,j]]==0 then '-0' end %>">
                        <%= @corrmat.data[[i,j]] %>
                      </span>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
