<div class="card-extended">
  <div class="card-extended__header">
    <% unless @github_session.organizations.empty? %>
      <dropdown class="select">
        <div class="select__btn" slot="btn">
          <img src="<%= @github_organization[:avatar_url] %>">
          <span class="select__title"><%= @organization.login.capitalize %></span>
        </div>
        <div class="select__body" slot="body">
          <div class="select-body__title"><%= t('messages.dashboard.organizations') %></div>
          <% @github_session.organizations.each do |org| %>
            <%= link_to organization_path(name: org[:login]), class: 'select__option' do %>
              <%= image_tag(org[:avatar_url]) %> <%= org[:login] %>
            <% end %>
          <% end %>
        </div>
      </dropdown>

      <dropdown class="select">
        <div class="select__btn" slot="btn">
          <%= octicon "jersey" %>
          <span class="select__title"><%= @team ? @team[:name] : @organization.login.capitalize %></span>
        </div>
        <div class="select__body" slot="body">
          <div class="select-body__title"><%= t('messages.dashboard.teams') %></div>
          <%= link_to @organization.login.capitalize, organization_path(name: @github_organization[:login]), class: 'select__option' %>

          <% @teams.each do |team| %>
            <%= link_to organization_path(name: @github_organization[:login], team: team[:slug]), class: 'select__option' do %>
              <%= team[:name] %>
            <% end %>
          <% end %>
        </div>
      </dropdown>      
    <% end %>      
    <% if @is_admin %>
      <a  class="card-extended__header-link" href="<%= settings_organization_path(@organization.login) %>">
        <%= t('messages.dashboard.settings') %>
      </a>
    <% end %>
  </div>
  <div class="card-extended__body ">
    <% if @corrmat.tracked_users.empty? %>
      <%= t('messages.dashboard.empty_team', team:  @team[:name]) %>
    <% else %>
      <div class="matrix-dashboard">
        <div class="matrix__head" id="sticky-head">
          <div class="matrix__user--head"></div>
          <% @corrmat.tracked_users.each do |user| %>
            <div class="matrix__user--head">
              <div class="matrix__picture">
                <a href="<%= user.html_url %>" title="<%= user.login %>">
                  <img class="matrix__user-img" src="<%= user.avatar_url %>">
                </a>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <% @corrmat.tracked_users.each_with_index do |b, i| %>
            <div class="matrix__row">
              <div class="matrix__user stick_vertical">
                <a href="<%= b.html_url %>" title="<%= b.login %>">
                  <img class="matrix__user-img" src="<%= b.avatar_url %>">
                </a>
              </div>
              <% @corrmat.tracked_users.each_with_index do |a, j| %>
                <div class="matrix__pullrequest">
                  <span class="matrix__pullrequest__number<%= if i == j then
                                                          '-diagonal'
                                                          elsif @corrmat.data[[i, j]] == 0 then
                                                            '-0'
                                                          end %>">
                    <%= @corrmat.data[[i, j]] %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

