<div class="<%= "card-extended #{'card-extended--fullscreen' if @public_mode}" %>">
  <% if !@public_mode %>
    <%= render "card_header", only_organization: false %>
  <% end %>
  <div class="card-extended__body">
    <% if @corrmat.selected_users.empty? %>
      <%= t('messages.dashboard.empty_team', team:  @team[:name]) %>
    <% else %>
      <div class="matrix-dashboard">
        <div>
          <div class="matrix__user-head" id="sticky-corner"></div>
          <% @corrmat.selected_users.each_with_index do |user, i| %>
            <div class="matrix__user">
              <%= render partial: 'ranked_user_avatar',
                locals: { user: user,
                          correlation_matrix: @corrmat,
                          user_index: i } %>
            </div>
          <% end %>
        </div>
        <div class="matrix__values">
          <div class="matrix__head" id="sticky-head">
            <% @corrmat.selected_users.each_with_index do |user, i| %>
              <div class="matrix__user-head">
                <div class="matrix__picture">
                  <%= render partial: 'ranked_user_avatar',
                    locals: { user: user,
                              correlation_matrix: @corrmat,
                              user_index: i } %>
                </div>
              </div>
            <% end %>
          </div>
          <% @corrmat.selected_users.each_with_index do |b, i| %>
            <div class="matrix__row">
              <% @corrmat.selected_users.each_with_index do |a, j| %>
                <div class="matrix__pullrequest<%= matrix_pullrequest_color_modifier(@color_scores, a.id) if i == 0 && i != j %>">
                  <span class="matrix__pullrequest__number<%= if i == j then
                                                          '-diagonal'
                                                          elsif @corrmat.data[[i, j]] == 0 then
                                                            '-0'
                                                          end %>">
                      <%= @corrmat.data[[i, j]] %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
