<div class="<%= "card-extended #{'card-extended--fullscreen' if @public_mode}" %>">
  <% if !@public_mode %>
    <%= render "card_header", only_organization: false %>
  <% end %>
  <div class="card-extended__body">
    <% if @corrmat.selected_users.empty? %>
      <%= t('messages.dashboard.empty_team', team:  @team[:name]) %>
    <% else %>
      <div class="matrix-dashboard">
        <div class="matrix__head" id="sticky-head">
          <div class="matrix__user--head"></div>
          <% @corrmat.selected_users.each_with_index do |user, i| %>
            <div class="matrix__user--head">
              <div class="matrix__picture">
                <a href="<%= user.html_url %>" title="<%= user.login %>">
                  <img class="<%= if i == @corrmat.min_variance_index then
                              'matrix__user-img--winner'
                              else
                              'matrix__user-img'
                              end %>" src="<%= user.avatar_url %>">
                </a>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <% @corrmat.selected_users.each_with_index do |user, i| %>
            <div class="matrix__row">
              <div class="matrix__user stick_vertical">
                <a href="<%= user.html_url %>" title="<%= user.login %>">
                  <img class="<%= if i == @corrmat.min_variance_index then
                              'matrix__user-img--winner'
                              else
                              'matrix__user-img'
                              end %>" src="<%= user.avatar_url %>">                
                </a>
              </div>
              <% @corrmat.selected_users.each_with_index do |a, j| %>
                <div class="matrix__pullrequest">
                  <span class="matrix__pullrequest__number<%= if i == j then
                                                          '-diagonal'
                                                          elsif @corrmat.data[[i, j]] == 0 then
                                                            '-0'
                                                          end %>">
                    <%= @corrmat.data[[i, j]] %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
