<div class="card-extended">
  <%= render "card_header", only_organization: true %>
  <div class="card-extended__body">
    <h1 class="card__title"><%= t('messages.dashboard.empty_title', org:  @github_organization[:login]) %></h1>
    <div class="card__info">
      <%= t('messages.dashboard.empty_info', org:  @github_organization[:login]) %>
    </div>
    <% if @is_admin %>
    <div class="card-extended__dashboard-button" onclick="window.location.href='<%= settings_organization_path(name: @github_organization[:login]) %>'">
      <span class="button button--big"><%= t('messages.dashboard.button_config') %></span>
    </div>
    <% end %>
  </div>
</div>
