<a href="<%= user_path(user) %>" title="<%= user.login %>">
  <% if user_index == correlation_matrix.min_ranking_indexes[0]%>
    <div class="matrix__user-div">
      <div>
        <img class="matrix__user-img" src="<%= user.avatar_url %>">
      </div>
      <img class="matrix__user-crown" src="<%= image_path 'dashboard-img-crown.svg' %>">
    </div>
  <% else %>
    <img class="<%= if user_index == correlation_matrix.min_ranking_indexes[1]
                      'matrix__user-img--second'
                    elsif user_index == correlation_matrix.min_ranking_indexes[2]
                      'matrix__user-img--third'
                    else
                      'matrix__user-img'
                    end %>" 
         src="<%= user.avatar_url %>">
  <% end %>
</a>
