<div class="card-extended">
  <div class="card-extended__header">
    <div class="card-extended__back" onclick="window.location.href='<%= organization_path(name: @github_organization[:login]) %>'">
      <%= image_tag("back-arrow.svg", class: "card-extended__back-arrow") %>
      <div class="card-extended__back-message"><%= t('messages.settings.button_back') %></div>
    </div>
    <div class="card-extended__title">
      (<%= @organization.repositories.count %>)
      <%= t('messages.settings.repository_title') %>
      <span class="bolder"><%= @github_organization[:login] %></span>
      <sync-button url="/api/organizations/<%= @organization.id %>/sync" class="sync-button"></sync-button>
    </div>
  </div>
  <div class="card-extended__body-list">
    <div id="tab-repositories">
      <%= render "repositories" %>
    </div>
  </div>
</div>
