<div class="card-extended">
  <div class="card-extended__header">
    <div class="card-extended__back" onclick="window.location.href='<%= organization_path(name: @github_organization[:login]) %>'">
      <%= image_tag("back-arrow.svg", class: "card-extended__back-arrow") %>
      <div class="card-extended__back-message"><%= t('messages.settings.button_back') %></div>
    </div>
    <div class="card-extended__label">
      <%= t('messages.settings.default_team') %>
    </div>
    <teams-dropdown
      :teams="<%= @teams.to_json %>"
      :organization="<%= @organization.to_json %>"
      :admin-mode="true">
    </teams-dropdown>
    <div class="card-extended__button-container card-extended__button-container--big">
      <enable-public-button :organization="<%= @organization.to_json %>"></enable-public-button>
    </div>
    <div class="card-extended__button-container">
      <sync-organization-button url="/api/organizations/<%= @organization.id %>/sync" id="<%= @organization.id %>"></sync-organization-button>
    </div>
  </div>
  <div class="card-extended__body">
    <div class="card-extended__body-title">
      <%= t('messages.settings.repository_title') %>
      <%= @github_organization[:login] %>
    </div>
    <div class="card-extended__body-subtitle">
      (<%= @organization.repositories.count %>)
      <%= t('messages.settings.repository_count') %>
    </div>
    <div class="card-extended__body-list">
      <%= render "repositories" %>
    </div>
  <%= render "behaviour_dashboard" %>
  </div>
</div>
