<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <%= render partial: 'partials/tag_manager_head' %>
    <title>Froggo - Platanus</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>


    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'partials/tag_manager' %>
    <%= render partial: 'partials/heap' %>
    <div id="app" class="bg-white">
      <div>
        <froggo-header
          :user="<%= @github_session.user.to_json %>"
          :organizations="<%= @github_session.user.organizations.to_json %>"
          organization-path="<%= @github_session.user.organizations ? tracked_organizations_path : link_organizations_path %>"
          org-authenticate-path="<%= org_authenticate_path %>"
          close-session-path="<%= close_session_path %>"
        />
      </div>
      <% if @show_sidebar %>
      <div class="grid min-h-screen grid-cols-12">
        <div class="col-span-2">
          <froggo-sidebar
            recommendations-path="<%= recommendations_path %>"
            teams-path="<%= github_user_froggo_teams_path(github_user_id: @github_session.user.id) %>"
            feed-path="<%= organization_pull_requests_path(organization_name: @github_session.organizations.first[:login]) %>"
          />
        </div>
      <% end %>
        <div class="col-span-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
